.underline-animation {
    position: relative;
    display: inline-block;
    padding-top: 12px;
    transition: color 0.3s ease-in-out;
  }
  
  .underline-animation::before {
    content: '';
    position: absolute;
    width: 100%; 
    height: 3px;
    bottom: -13px;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 12px;
  }
  
  .underline-animation:hover::before,
  .underline-animation.active::before {
    transform: scaleX(1);
  }

  .underline-animation:hover {
    color: #c6c3c3;
  }

  .active-animation{
    position: relative;
    display: inline-block;
    padding-top: 12px;
    transition: color 0.3s ease-in-out;
  }

  .active-animation:hover {
    color: #636262;
  }


  